<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651140905700-jl43joq8lgaroetocnikclfikloccosj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651140905700-jl43joq8lgaroetocnikclfikloccosj</string>
	<key>API_KEY</key>
	<string>AIzaSyA5eMGzjk3pkWjN4_q5MryIv9zECl3KX5o</string>
	<key>GCM_SENDER_ID</key>
	<string>651140905700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AnganAvsar</string>
	<key>PROJECT_ID</key>
	<string>anganavsar</string>
	<key>STORAGE_BUCKET</key>
	<string>anganavsar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651140905700:ios:8af7664d6ac707a218caf1</string>
</dict>
</plist>